/* now just called expContainer */

/*.pcExpContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}*/

/*.probeExpContainer {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}*/